### String

In [26]:
txt1 = '  A tale that was not right'
txt2 = '이 또한 지나가리라  '

# -----------------------

# tale을 출력하시오..
txt1[4:8]

'tale'

In [27]:
# '지'를 출력하시오..
txt2[5:6]

'지'

In [28]:
# 'a'는  몇 개가 존재하는가?
txt2.count('지')

1

In [29]:
# txt1에서 모음의 갯수가 몇 개인가?
num = 0
for i in "aeiou":
    num += txt1.count(i)
num

6

In [32]:
# '또한'을 '것도'로 수정하시오
txt2.replace("또한", "것도")

'이 것도 지나가리라  '

In [35]:
# txt1을 대문자로 출력하시오..
txt1.upper()

'  A TALE THAT WAS NOT RIGHT'

In [36]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.find("right")

22

In [37]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오..
txt1.split(" ")

['', '', 'A', 'tale', 'that', 'was', 'not', 'right']

In [38]:
# txt2의 길이는 얼마인가?
len(txt2)

12

In [ ]:
# txt2을 character 단위로 나우어서 리스트에 담으시오..
li = [x for x in txt2]
li

In [ ]:
# txt1의 좌우 공백을 제거하시오..
txt1.strip()

In [ ]:
# txt2를 역순으로 출력하시오..
txt2[::-1]

In [ ]:
# txt1에서 짝수 인덱스만 출력하시오..
li = [txt1[i] for i in range(len(txt1)) if i%2 == 0]
li

In [ ]:
# txt2를 두 번 박복하시오..
txt2 * 2

In [ ]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오..
txt1 + txt2

In [ ]:
# txt1에서 'right'이 존내하는지 확인하시오..
'right' in txt1

In [ ]:
# txt1에서 뒤에서 5번째 문자를 출력하시오..
txt1[-5]

In [ ]:
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..
li = [(i,e) for i, e in enumerate(txt1)]
l

In [ ]:
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..
li = [(i,e) for i, e in enumerate(txt1)]
li

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't')]

In [60]:
url = 'http://www.naver.com/news/today=20221230'
# url중 도메인만 출력하시오
import re

regex = re.findall("http[s]?://www\.[a-z]+\.[a-z]+", url)
regex

['http://www.naver.com']

In [ ]:

# 아래와 같이 출력하시오.
# name => '홍길동'
# age => 17

# sex => 남성
# ....

In [64]:
text = "기회재정부가 오늘 '소상공인' 지원 예산을 위한 추가 경정예산안"
text

"기회재정부가 오늘 '소상공인' 지원 예산을 위한 추가 경정예산안"

In [65]:
text = "기회재정부가 오늘 '소상공인' 지원 예산을 위한 추가 경정예산안"
text

"기회재정부가 오늘 '소상공인' 지원 예산을 위한 추가 경정예산안"

### datatype
1. 기본형
- int : 95
- float : 95.8
- bool : True, False
2. 군집형(여로 요소가 모여서 하나의 데이터)
- string: '', 요소의 수정, 삭제, 추가가 안됨..
- list : [], 요소의 수정, 삭제, 추가가 자유로움..
- tuple : (), 요소의 수정, 삭제, 추가 안됨... 수정하지 않을 값, 보조용
- set : {}, 요소의 삭제, 추가 안됨. 중복요소가 없다. 집합연산
- dictionary : {key:value}, 요소의 수정, 삭제, 추가가 자유로움. 데이터의 저장(json과 유사) 순서없고, 인덱스는 key역할

### List

In [94]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24, 25, 3)]
score

[81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [95]:
# 't'를 출력하시오...
score[3][2]

't'

In [96]:
# 56을 출력하시오..
score[6][1]

56

In [97]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [98]:
# 'python'을 'world'로 수정하시오.
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [99]:
# 마지막에 'sun'을 추가하시오.
score.append("sun")
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [100]:
# 'world'가 있는지 확인하시오.
'world' in score

True

In [114]:
# 마지막에서 2 번째 요소를 내림차순으로 정렬하시오.
sorted(score[-2], key=lambda x: -x)

[25, 24, 3]

In [ ]:
# 90은 몇 번째 인덱스에 있는지 확인하시오..
score.index(90)

In [ ]:
# 리스트를 역순으로 정렬하시오.
score.reverse()
score

In [ ]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(3, "sea")
score

In [ ]:
# True를 False로 수정하시오..
score[score.index(True)] = False
score

In [ ]:
# 'world'를 제거하시오
score.remove('world')
score

In [ ]:
# 7번재 요소를 제거하시오..
score.pop(7)
score

In [ ]:
# 마지막 요소를 제거하시오..
score.pop()

In [ ]:
# 리스트의 길이를 출력하시오
len(score)

In [ ]:
# 두 번째 요소의 데이터 타입을 출력하시오..
type(score[1])

In [143]:
# [78, 56, 32]를 "78:56:32"로 수정하시오..
":".join([ str(s) for s in [78, 56, 32]])

'78:56:32'

In [ ]:
# 모든 원소를 제거하시오
score.clear()
score

In [149]:
# 리스트를 삭제하시오..
del score
score

NameError: name 'score' is not defined